.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  margin: 0 24px;
}

.container a {
  text-decoration: none;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: #fff;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 15px rgb(0, 140, 255);
  transition: all 0.3s ease-in-out;
}

.container a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 15px rgb(0, 140, 255),
    0 0 30px rgb(0, 140, 255), 0 0 60px rgb(0, 140, 255);
}
